@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --color-bg: #000;
  --colog-fg: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Founders Grotesk";
  src: url("../public/fonts/TestFoundersGrotesk-Light.otf") format("opentype");
  font-weight: 300;
}

@font-face {
  font-family: "Founders Grotesk";
  src: url("../public/fonts/TestFoundersGrotesk-Regular.otf") format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "Founders Grotesk";
  src: url("../public/fonts/TestFoundersGrotesk-Medium.otf") format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: "Founders Grotesk";
  src: url("../public/fonts/TestFoundersGrotesk-Semibold.otf")
    format("opentype");
  font-weight: 600;
}

@font-face {
  font-family: "Founders Grotesk";
  src: url("../public/fonts/TestFoundersGrotesk-Bold.otf") format("opentype");
  font-weight: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background: var(--color-bg);
  color: var(--colog-fg);
  font-family: "Founders Grotesk", "Inter", sans-serif;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

p {
  font-weight: 600;
  font-size: 15px;
  letter-spacing: -0.125px;
  word-spacing: -0.0175rem;
  text-transform: uppercase;
  line-height: 12.5px;
}

a {
  text-decoration: none;
  color: var(--colog-fg);
  font-weight: 600;
  font-size: 15px;
  letter-spacing: -0.125px;
  word-spacing: -0.0175rem;
  text-transform: uppercase;
  line-height: 12.5px;
}
